singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/hpctmp/YOUR_ID/5004/singularity_cache"
}

process {
    executor = 'local'
    errorStrategy = 'retry'
    maxRetries = 1
}

profiles {
    p1 { 
        process {
            withLabel: scaling_target {
                maxForks = 1
                cpus = 1
                memory = '1 GB'
            }
        }
        params.outdir = "${projectDir}/results_p1"
        report.file = "results_p1/report.html" 
    }
    
    p4 { 
        process {
            withLabel: scaling_target {
                maxForks = 4
                cpus = 1
                memory = '1 GB'
            }
        }
        params.outdir = "${projectDir}/results_p4"
        report.file = "results_p4/report.html" 
    }
    
    p8 { 
        process {
            withLabel: scaling_target {
                maxForks = 8
                cpus = 1
                memory = '1 GB'
            }
        }
        params.outdir = "${projectDir}/results_p8"
        report.file = "results_p8/report.html" 
    }
    
    p16 { 
        process {
            withLabel: scaling_target {
                maxForks = 16
                cpus = 1
                memory = '1 GB'
            }
        }
        params.outdir = "${projectDir}/results_p16"
        report.file = "results_p16/report.html" 
    }
    
    p22 { 
        process {
            withLabel: scaling_target {
                maxForks = 22
                cpus = 1
                memory = '1 GB'
            }
        }
        params.outdir = "${projectDir}/results_p22"
        report.file = "results_p22/report.html" 
    }
}